## Basic Syntax

In [ ]:
print("Hello World")

## Building & Importing Packages

In [ ]:
from assets import myModule as my

phong = my.Person("Phong", 36)

print(phong.name)
print(phong.age)
phong.changeAge(100)
print(phong.age)

steve = my.Student("Steve", 53)

print(steve.age)
print(my.testVariable)
my.testFunc(1000)

## Functions

In [ ]:
from assets import myModule as my
print(dir(my))
my.testArgs(var1 = phong, test='test1', test2 = 'test2')

## Data Structures

In [ ]:
# Sequence Types #
# Lists
list = [1,2]
list.append(3)
list.insert(0,0)
list.pop()
list.pop(0)
list.sort()
list.reverse()

# Tuples (cannot be change)
tuple = (1,2)
print(tuple)

# Strings
name = 'Phong Bui'

# Binary Strings
# Range Objects
rangeObj = range(0,10)
#listRange = list(rangeObj)
rangeObj = range(0,10,2)


# Shared Operations #
# Membership
12 not in [1,2,3,4,5]

# Indexing
name = "This is a test string"
name[3]
name[-1]

# Slicing
name[2:5]
name[:8]
name[0:8:2]
# Interrogation
len(name)
min(name)
max(name)

name.count('s')
name.index('t')

# Math
'prefix' + '_' + 'suffix'
[1,2] + [3,4]
[1,2] * 4

## Dictionaries & Sets

In [ ]:
# Dictionaries
# Map keys to values

## Lambda

In [ ]:
#your_function_name = lambda inputs : output
a = 1
b = 2
sum = lambda x,y : x + y
c = sum(a,b)
print(c)


l = [2,4,7,3,14,19]
for i in l:
    odd = lambda x : x%2==1
    if(odd(i)==True):
        print(i)

## Looping

In [ ]:
# While loop

value = 1
while value <= 5:
    print(value, "Loop")
    value += 1

# for loop
for i in range(10):
    print(i)

## Input and condition

In [ ]:
def confirm_name(input_name):
    if input_name == 'Phong':
        print ("yup")
    else:
        print("nope")

name = input("What's your name?")
print("Hello", name)
confirm_name(name)

## Lists

In [ ]:
testList = ["apple", 12, 24, "nope"]

print(testList[0]+" "+str(testList[2]))

testList.append("yes")
testList.remove("apple")
testList.insert(1,"ok")

print(testList[-1])
print(testList[0])

print(testList)

for i in testList:
    print(i)

## Map, Filter, Reduce

In [ ]:

my_pets = ['alfred', 'tabitha', 'william', 'arla']
uppered_pets = list(map(str.upper, my_pets))
print(uppered_pets)

# Same as below
my_strings = ['a', 'b', 'c', 'd', 'e']
my_numbers = [1, 2, 3, 4, 5]
results = list(zip(my_strings, my_numbers))
print(results)

# Same as above
my_strings = ['a', 'b', 'c', 'd', 'e']
my_numbers = [1, 2, 3, 4, 5]
results = list(map(lambda x, y: (x, y), my_strings, my_numbers))
print(results)


# Filter
# Python 3
scores = [66, 90, 68, 59, 76, 60, 88, 74, 81, 65]
def is_A_student(score):
    return score > 75
over_75 = list(filter(is_A_student, scores))
print(over_75)

# Reduce
# Python 3
from functools import reduce
numbers = [3, 4, 6, 9, 34, 12]

def custom_sum(first, second):
    return first + second

result = reduce(custom_sum, numbers)
print(result)

## Pandas

In [ ]:
import pandas as pd
from assets import golfScores as gs


# Retrieve tournament -> saves to golf.csv
#gs.tournamentData()

# Read from created .csv
df = pd.read_csv('golf.csv')
#print(df.head())

# Filter rows based off column, return all columns
filtered = df[df['total'] < -10]
#print(filtered.head())

# Filter rows based off column, return subset of columns
filtered = df.loc[df["position"] == 'T3', ["lastName","strokes"]]
#print(filtered.head())

# New column derived from existing column
filtered['newColumn'] = (filtered['lastName']) + "_" + "new"
#print(filtered.head())

## Matching SQL -> Pandas

In [ ]:
import pandas as pd

crime = pd.read_csv('data/crime.csv')

# SELECT * FROM crime WHERE col1 = 'a' and col2 = 'b'
filtered = crime.loc[((crime['NEIGHBORHOOD_ID'] == 'valverde') & (crime['IS_CRIME'] == 1))]

# SELECT col1, col2 FROM crime WHERE col3 = 'a'
filtered2 = crime.loc[((crime['NEIGHBORHOOD_ID'] == 'valverde') & (crime['IS_CRIME'] == 1)),['OFFENSE_CATEGORY_ID', 'OFFENSE_TYPE_ID']]

# SELECT COUNT(*) FROM crime
print(crime.loc[((crime['NEIGHBORHOOD_ID'] == 'valverde') & (crime['IS_CRIME'] == 1))].count())

# SELECT count(*), col1 FROM crime GROUP BY col1
print(crime.loc[((crime['NEIGHBORHOOD_ID'] == 'valverde') & (crime['IS_CRIME'] == 1)),['OFFENSE_CATEGORY_ID', 'OFFENSE_TYPE_ID']].groupby('OFFENSE_TYPE_ID').size())

# SELECT DISTINCT col1, col2 FROM crime
filtered3 = crime.drop_duplicates(['NEIGHBORHOOD_ID','OFFENSE_CATEGORY_ID'])[['NEIGHBORHOOD_ID','OFFENSE_CATEGORY_ID']]


# SELECT MIN(col1) FROM crime WHERE col2 = 'a';
crime.loc[crime['NEIGHBORHOOD_ID']=='valverde',['GEO_LON']].min()

# SELECT * FROM crime where col1 IN (a,b,c)
cities = ['valverde', 'hampden']
filtered_df = crime[crime['NEIGHBORHOOD_ID'].isin(cities)]
filtered4 = filtered_df[['NEIGHBORHOOD_ID','GEO_LON']]


# SELECT column_name(s) FROM table1 LEFT JOIN table2 ON table1.column_name = table2.column_name; 

join_df = pd.DataFrame({'nbhr':['valverde', 'hampden'], 'col':[1,2]})

    # Matching column names
    # left_join_df = filtered4.merge(join_df, how='inner', on='NEIGHBORHOOD_ID')

    # Different column names
left_join_df = filtered4.merge(join_df, how='inner', left_on='NEIGHBORHOOD_ID', right_on='nbhr')
left_join_df = left_join_df.loc[:,['NEIGHBORHOOD_ID', 'GEO_LON','col']]


# SELECT column_name(s) FROM table1 INNER JOIN table2 ON table1.column_name = table2.column_name;
join_df = pd.DataFrame({'nbhr':['valverde'], 'col':[1]})
inner_join_valverde_df = filtered4.merge(join_df, how='inner', left_on='NEIGHBORHOOD_ID', right_on='nbhr')
inner_join_valverde_df = inner_join_valverde_df.loc[:,['NEIGHBORHOOD_ID', 'GEO_LON','col']]

join_df = pd.DataFrame({'nbhr':['hampden'], 'col':[2]})
inner_join_hampden_df = filtered4.merge(join_df, how='inner', left_on='NEIGHBORHOOD_ID', right_on='nbhr')
inner_join_hampden_df = inner_join_hampden_df.loc[:,['NEIGHBORHOOD_ID', 'GEO_LON','col']]

# SELECT column_name(s) FROM table1 UNION
# SELECT column_name(s) FROM table2;
union_df = pd.concat([inner_join_valverde_df, inner_join_hampden_df])

#INSERT INTO table_name (column1, column2, column3, ...)
#VALUES (value1, value2, value3, ...);
new_values_df = pd.DataFrame({'NEIGHBORHOOD_ID':['lebanon'], 'GEO_LON':[100], 'col':[3]})
insert_df = pd.concat([union_df, new_values_df])

#UPDATE table_name
#SET column1 = value1, column2 = value2, ...
#WHERE condition;
insert_df.loc[insert_df['NEIGHBORHOOD_ID'] == 'lebanon', 'col'] = 6


# DELETE FROM table_name WHERE condition;
# DELETE hampmden
insert_df = insert_df.loc[~(insert_df['NEIGHBORHOOD_ID'] == 'hampden'), :]
#insert_df = insert_df[insert_df['NEIGHBORHOOD_ID'] != 'hampden]

## PySpark

In [ ]:
from pyspark.sql import SparkSession
from pyspark import SparkContext
from pyspark.conf import SparkConf

conf = SparkConf()
conf.setAll(
    [
        ('spark.app.name', 'pysparktest'),
        ('spark.master', 'spark://localhost:7077'),
        ('spark.executor.memory', "512m")
    ]
)

spark = SparkSession.builder.config(conf=conf).getOrCreate()

In [ ]:
import pandas as pd

# Create a Spark dataframe from a pandas (can't get Spark to read csv yet)
df = pd.read_csv('data/2015-summary.csv')
flightdata2015 = spark.createDataFrame(df)

In [ ]:
# Shuffling is a mechanism Spark uses to redistribute the data across different executors and even across machines
spark.conf.set('spark.sql.shuffle.partitions','5')
flightdata2015.sort('count').take(2)

In [ ]:
flightdata2015.createOrReplaceTempView('flight_data_2015')

In [ ]:
sqlWay = spark.sql("""SELECT DEST_COUNTRY_NAME, count(1) FROM flight_data_2015 GROUP BY DEST_COUNTRY_NAME""")
sqlWay = spark.sql("""SELECT max(count) FROM flight_data_2015""")
sqlWay = spark.sql("""SELECT DEST_COUNTRY_NAME, sum(count) as destination_total FROM flight_data_2015 GROUP BY DEST_COUNTRY_NAME ORDER BY sum(count) DESC""")
sqlWay.show()

In [ ]:
from pyspark.sql.functions import desc

flightdata2015.groupBy('DEST_COUNTRY_NAME').sum('count').withColumnRenamed('sum(count)' ,'destination_total').sort(desc('destination_total')).limit(5).show()

In [ ]:
spark.stop()

## Python 3.8.9 Package Install

In [ ]:
import sys
!{sys.executable} -m pip install pandas

In [ ]:
import sys
!{sys.executable} -m site